* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: crosshair;
}

a:hover {
    cursor: pointer;
}

body {
    padding: 0%;
    background-color: firebrick;
    display: inline;
}

main {
    margin: 0%;
    background-color: forestgreen;
}

h1 {
    margin: 0%;
}

head {
    margin: 0%;
}